.game-board {
  display: grid;
  grid: repeat(3, 50px) / auto-flow 50px;
  padding-bottom: 20px;
  margin-left: 50px;
}
.tile {
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}
.pattern1 {
  background-color: grey;
}
.pattern2 {
  background-color: wheat;
}
th {
  border: solid;
  border-color: black;
  border-width: 1px;
}
.scoreboard {
  float: right;
  margin-right: 50px;
}